.navBar {
	position: sticky;
	top: 0px;
	z-index: 1px;
}
#linksList {
	display: none;
	justify-content: center;
	padding: 10px;
}
.mobileNavBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.navAbout {
	text-decoration: none;
}
/* font size of .appTitle and .navIcon need to be modified together to make it look good. the Icon has empty space as part of its size so it has to be adjusted manually */
.appTitle {
	text-decoration: none;
	padding: 10px;
}
.navIcon {
	padding: 10px;
}